@import "../../scss/variables";


.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: adjust-color($clr-black, $alpha: -0.6);
  visibility: hidden;
}

.Show {
  visibility: visible;
}