@import "../../scss/variables";

.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 40rem;
  height: 100vh;
  background-color: $clr-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.2rem;
  box-shadow: $light-shadow;
  z-index: 500;

  opacity: 0;
  transform: translateX(-100%);
  transition: all .4s;
}

.Show {
  opacity: 1;
  transform: translateX(0);
}

.SidebarHeading {
  display: flex;
  width: 100%;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  img {
    height: 4rem;
    width: auto;
  }

  .Close {
    color: $clr-red-dark;
    font-size: 3rem;
    cursor: pointer;
    transition: all .4s;
    &:hover {
      color: $clr-red-light;
    }
  }

}

.Nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  a {
    display: flex;
    align-items: center;
    padding: 2rem;
    font: inherit;
    color: $clr-grey-3;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    transition: all .4s;

    &:hover {
      background-color: $clr-grey-10;
    }

    .Icon {
      color: $clr-grey-5;
      margin-right: 2rem;
      display: grid;
      place-items: center;
    }
  }

}